<footer role="contentinfo">
  <p>
    <a href="mailto:lmayliffe@gmail.com">Contact</a> |
    <a href="https://github.com/logan-life/blog">Source Code</a> | 
    <a href="http://localhost:8080/rss.xml">RSS</a> |  
    <a href="http://localhost:8080/sitemap.xml">Sitemap</a>
  </p>
</footer>