{% set topics =  collections.topicList %}
<nav role="navigation" aria-label="category navigation" >
  <span>Filter TILs by topic:</span>
  <ul>
    <li class="category__link {{ ' active' if page.url == '/til/'}}">
      <a class="category__link" 
        href="/til"
        {{ "aria-current" if page.url === "/til/" }}
          >all</a>
    </li>
    {%- for topic in topics %}
    {% set topUrl = ["/til/", topic.key, "/" ] |  join %}
    <li class="category__link {{ ' active' if page.url == topUrl }}">
      <a href="{{ topUrl }}"
      {{ "aria-current" if page.url == topUrl }}>
        {{ topic.key }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</nav>