---
layout: pageLayout
permalink: /blog/{{ category }}/{{ title | slugify }}/
date: git Created
eleventyComputed:
  type: '{{metadata.blogMetadata.articleType}}'
---

<article class="article">
  <h1>{{ title }}</h1>
  <small>
    Published: <time>{{ page.date | readableDate }}</time>
    <a class="category" href="/blog/{{ category }}">{{ category }}</a>
  </small>
  {{ content | safe }}
</article>