---
layout: pageLayout
permalink: /til/{{ topic }}/{{date | permalinkDate}}/{{ title | slugify }}/
---

<article class="article">
  <h1>{{ title }}</h1>
  <small>
    Published: <time>{{ date | readableDate }}</time>
    <a class="category" href="/til/{{ topic }}">{{ topic }}</a>
  </small>
  {{ content | safe }}
</article>