---
layout: pageLayout
permalink: /til/{{ topic }}/{{ title | slugify }}/
date: git Created
eleventyComputed:
  type: '{{metadata.tilMetadata.articleType}}'
---

<article class="article">
  <h1>{{ title }}</h1>
  <small>
    Published: <time>{{ page.date | readableDate }}</time>
    <a class="category" href="/til/{{ topic }}">{{ topic }}</a>
  </small>
  {{ content | safe }}
</article>