$main-font: 'Georgia', sans-serif;
$accent-font: 'Helvetica', sans-serif;
$mono-font: 'Monaco', monospace;


/* Colours */
// based on Solarized Light
$light-shade: #eee8d5;
$dark-shade: #063642;
$accent-shade:#d33682;
$code-background-shade: #f9f2f4;
$code-text-shade: #c7254e;

/*========================================*/

$base-clr: $dark-shade;
$bg-clr: $light-shade;
$link-clr: $dark-shade;
$link-hvr-clr: $accent-shade;
$cat-clr: $dark-shade;


