$main-font: 'Menlo', sans-serif;
$accent-font: 'Helvetica Now', sans-serif;

/* Colours */
// based on Solarized Light
$light-shade: #eee8d5;
$dark-shade: #063642;
$accent-shade:#d33682;

/*========================================*/

$base-clr: $dark-shade;
$bg-clr: $light-shade;
$link-clr: $dark-shade;
$link-hvr-clr: $accent-shade;
$cat-clr: $dark-shade;


